<div >
  <h5>
    Edit Coach Account
  </h5>

  <div>
    <form action="/patch_coach" method="post">
      <div>
        <label for="email">Email</label>
      <input id="email" name="email" value="<%= @current_coach.email %>">
      </div>
      <div>
        <label for="first_name">First name</label>
      <input id="first_name" name="first_name" value="<%= @current_coach.first_name %>">
      </div>
      <div>
        <label for="middle_name">Middle name</label>
      <input id="middle_name" name="middle_name" value="<%= @current_coach.middle_name %>">
      </div>
      <div>
        <label for="bio">Bio</label>
      <textarea id="bio" name="bio" rows="3"><%= @current_coach.bio %></textarea> 
      </div>
      <div>
        <label for="a_bool">A bool</label>
      <input id="a_bool" name="a_bool" type="checkbox" value="1">
      </div>
      <div>
        <label for="a_text">A text</label>
      <textarea id="a_text" name="a_text" rows="3"><%= @current_coach.a_text %></textarea> 
      </div>
      <div>
        <label for="a_date">A date</label>
      <input id="a_date" name="a_date" value="<%= @current_coach.a_date %>">
      </div>
      <div>
        <label for="a_time">A time</label>
      <input id="a_time" name="a_time" value="<%= @current_coach.a_time %>">
      </div>
      <div>
        <label for="a_datetime">A datetime</label>
      <input id="a_datetime" name="a_datetime" value="<%= @current_coach.a_datetime %>">
      </div>

      <div>
        <label for="password">Password</label>
        <input id="password" name="password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation">Password Confirmation</label>
        <input id="password_confirmation" name="password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
