<!DOCTYPE html>
<html>
  <head>
    <title>TestAccountGen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>

      <% if current_member == nil %>
        <div>
          <a href="/sign_up">
            Sign up
          </a>
        </div>
    
        <div>
          <a href="/sign_in">
            Sign in
          </a>
        </div>
      <% else %>
        <div>
          <%= current_member.email %>
        </div>
        
        <div>
          <a href="/sign_out">
            Sign out
          </a>
        </div>
      <% end %>
    </nav>

    <p><%= notice %></p>
    <p><%= alert %></p>
    <%= yield %>
  </body>
</html>
